<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>741734096296-c8t9olgtaqip8fg05gd0rlcp69ecr3ck.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.741734096296-c8t9olgtaqip8fg05gd0rlcp69ecr3ck</string>
	<key>API_KEY</key>
	<string>AIzaSyB2kGmeWk7CP7QqwMlFcHAdB8-MPKhc1wo</string>
	<key>GCM_SENDER_ID</key>
	<string>741734096296</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>oski.Complekshun</string>
	<key>PROJECT_ID</key>
	<string>compleksion</string>
	<key>STORAGE_BUCKET</key>
	<string>compleksion.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:741734096296:ios:401e058e8fc55498</string>
	<key>DATABASE_URL</key>
	<string>https://compleksion.firebaseio.com</string>
</dict>
</plist>